*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

.main{
	padding-bottom: 100px;
}
.container{
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 30px;
}
.title{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #1F1E1E;
	text-align: center;
	padding: 100px 0 40px 0;
}
.popular__items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 32px;
	padding-bottom: 82px;
	border-bottom: 1px solid #D9D9DE;
}
.popular__link{
	padding: 16px 24px 19px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center 0;
	min-height: 256px;
}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
	grid-column: span 2;
	grid-row: span 2;
}
.io{
	font-size: 24px;
}
.popular__title{
	font-weight: 500;
	line-height: 130%;
	margin-bottom: 15px;
}
.popular__price{
	font-weight: 800;
	font-size: 16px;
	line-height: 130%;
	margin-top: auto;
}
.popular__country{
	margin-bottom: 15px;
	line-height: 130%;
}
.popular__time{
	margin-bottom: 15px;
	line-height: 130%;
}

/* body{
	counter-reset: list;
}
.item{
	display: flex;
	justify-content: center;
	font-size: 22px;
	font-family: sans-serif;
	background-color: #009070;
	font-weight: 700;
	border: 2px solid #000;
	border-radius: 5px;
}
.item:nth-child(even){
	background-color: #00CCA0;
}
.item::before{
	content:counter(list);
	counter-increment: list;
} */
/* .box{
	display: grid;
	grid-template-columns: minmax(200px, 400px) repeat(2, 1fr);
	/* grid-template-rows: 100px 200px; тк не влезает текст не используем */
	/* grid-auto-rows: minmax(200px,auto); используем */
	/* grid-column-gap: 30px;
	grid-row-gap: 30px;
} */ 

/* .item:nth-child(1){
	/* grid-column: 2; займет вторую позицию */
	/* grid-column: 1 / 4; /* растянется */
	/* grid-row: 2; */
/* } */

/* .item:nth-child(2){
	grid-column: 1 / 3;
	grid-row: 1;
}
.item:nth-child(5){
	grid-column: span 2;
} */

/* .box{
	display: grid;
	height: 800px;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 20px;
}
.item:nth-child(1){
	grid-column: span 2;
	grid-row: span 2;
}
.item:nth-child(2){
	grid-column: span 3;
	grid-row: span 3;
}
.item:nth-child(3){
	grid-column: span 2;
	grid-row: span 2;
}
.item:nth-child(5){
	grid-column: span 2;
	grid-row: span 3;
}
.item:nth-child(6){
	grid-column: span 3;
	grid-row: span 2;
} */